[submodule "sim_worlds2"]
	path = sim_worlds2
	url = https://github.com/TechShare-inc/sim_worlds2.git
[submodule "realsense_gazebo_plugin"]
	path = realsense_gazebo_plugin
	url = https://github.com/pal-robotics/realsense_gazebo_plugin
	branch = foxy-devel
[submodule "realsense-ros_jp_custom"]
	path = realsense-ros_jp_custom
	url = https://github.com/ROBOTIS-JAPAN-GIT/realsense-ros_jp_custom
	branch = humble-jp-devel
