[submodule "sim_worlds2"]
	path = sim_worlds2
	url = https://github.com/TechShare-inc/sim_worlds2.git
[submodule "articubot_one"]
	path = articubot_one
	url = https://github.com/Wataru-Oshima-Tokyo/articubot_one.git
[submodule "champ"]
	path = champ
	url = https://github.com/chvmp/champ
	branch = ros2
[submodule "champ_teleop"]
	path = champ_teleop
	url = https://github.com/chvmp/champ_teleop
	branch = ros2
[submodule "techshare_ros_pkg2"]
	path = techshare_ros_pkg2
	url = https://github.com/TechShare-inc/techshare_ros_pkg2.git
[submodule "ros_server_client"]
	path = ros_server_client
	url = https://github.com/TechShare-inc/ros_server_client.git
